[datasource]
destination=[Clickhouse, MongoDB]

[bigquery]
project=XXX
dataset_id=XXX
# 读取archive数据
# table_id_prefix=XXX
# 读取实时数据
# table_id_prefix=XXX
location=asia-southeast1

[google_cloud_storage]
bucket_name=XXX

[clickhouse]
host=XXX
port=XXX
database=XXX
table=XXX
user=XXX
password=XXX
